<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="nz.co.conglomo.confessions" versionCode="4" version="1.2">
	<name>Creeds and Confessions</name>
	<description>Creeds and Confessions of the Christian Church.</description>
	<author href="https://www.conglomo.co.nz/" email="support@conglomo.co.nz">Peter Chapman</author>
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	<preference name="phonegap-version" value="cli-6.5.0" />
	<preference name="permissions" value="none" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="android-installLocation" value="auto" />
	<preference name="android-minSdkVersion" value="21" />
	<preference name="android-targetSdkVersion" value="21" />
	<icon src="assets/icons/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="assets/icons/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="assets/icons/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="assets/icons/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="assets/icons/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="assets/icons/xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />
	<icon src="icon.png" gap:platform="winphone" />
	<icon src="assets/icons/tileicon.png" gap:platform="winphone" gap:role="background" />
	<gap:splash src="screen.jpg" gap:platform="winphone" />
</widget>
