@media screen and (prefers-color-scheme: dark) {
    .wrapper {
        background-color: #5b5b5b;
        color: #fff;
    }
    h1, h2, h3, h4, h5, h6, strong {
        color: #fff;
    }
}

.references {
    font-size: 0.8em;
    margin: 1em 0;
    padding-left: 1em;
}

    .references a, .special p a {
        border-bottom-color: #ef8376;
        color: #ef8376;
    }

    .references a:hover, .special p a:hover {
        border-bottom-color: transparent;
    }