@media screen and (prefers-color-scheme: dark) {
    .wrapper {
        background-color: #5b5b5b;
        color: #fff;
    }
    h1, h2, h3, h4, h5, h6, strong {
        color: #fff;
    }
}

.dark .wrapper {
    background-color: #5b5b5b;
    color: #fff;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark strong {
    color: #fff;
}

body.homepage #header h1 {
    font-size: 3.5em;
}

#header .button {
    height: 5em;
    width: 5em;
}

.references {
    font-size: 0.8em;
    margin: 1em 0;
    padding-left: 1em;
}

    .references a, .special p a {
        border-bottom-color: #ef8376;
        color: #ef8376;
    }

    .references a:hover, .special p a:hover {
        border-bottom-color: transparent;
    }

li.not-numbered {
    list-style: none;
    margin-left: -1.5em;
}